<h1>This is the edit view!!!</h1>
<form class="form-horizontal">
	<div class="form-group">
		<label for="" class="control-label col-md-2">项目名</label>
		<div class="col-md-10">
			<input class="form-control" ng-model="dataToPost.label" type="text">
		</div>		
	</div>
	<div class="form-group">
		<label for="" class="control-label col-md-2">填充色</label>
		<div class="col-md-10">
			<input class="form-control" ng-model="dataToPost.fillColor" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="">线条色</label>
		<div class="col-md-10">
			<input class="form-control" ng-model="dataToPost.strokeColor" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="">点颜色</label>
		<div class="col-md-10">
			<input class="form-control" ng-model="dataToPost.pointColor" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2" for="">点轮廓色</label>
		<div class="col-md-10">
			<input class="form-control" ng-model="dataToPost.pointStrokeColor" type="text">
		</div>
	</div>
	<div class="form-group">
		<label class="control-label col-md-2">各月数据</label>
		<div class="col-md-2">
			<input class="form-control" placeholder="January" ng-model="dataToPost.data[0]" type="text">
		</div>
		<div class="col-md-2">
			<input class="form-control" placeholder="February" ng-model="dataToPost.data[1]" type="text">
		</div>
		<div class="col-md-2">
			<input class="form-control" placeholder="March" ng-model="dataToPost.data[2]" type="text">
		</div>
		<div class="col-md-2">
			<input class="form-control" placeholder="April" ng-model="dataToPost.data[3]" type="text">
		</div>
		<div class="col-md-2">
			<input class="form-control" placeholder="May" ng-model="dataToPost.data[4]" type="text">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-2 col-md-offset-2">
			<input class="form-control" placeholder="June" ng-model="dataToPost.data[5]" type="text">
		</div>
		<div class="col-md-2">
			<input class="form-control" placeholder="July" ng-model="dataToPost.data[6]" type="text">
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-10 col-md-offset-2">
			<button class="btn btn-primary" ng-click="gotoGraph()">{{btnText}}</button>
			<a class="btn btn-default" ng-hide="isHided" href="#graph-view">不保存直接返回</a>
		</div>
	</div>
</form>
