<h1>This is the edit view!!!</h1>
<label for="">项目名</label><input ng-model="dataToPost.label" type="text">
<label for="">填充色</label><input ng-model="dataToPost.fillColor" type="text">
<label for="">线条色</label><input ng-model="dataToPost.strokeColor" type="text">
<label for="">点颜色</label><input ng-model="dataToPost.pointColor" type="text">
<label for="">点轮廓色</label><input ng-model="dataToPost.pointStrokeColor" type="text">
<label for="">Jan</label><input ng-model="dataToPost.data[0]" type="text">
<label for="">Feb</label><input ng-model="dataToPost.data[1]" type="text">
<label for="">Mar</label><input ng-model="dataToPost.data[2]" type="text">
<label for="">Apr</label><input ng-model="dataToPost.data[3]" type="text">
<label for="">May</label><input ng-model="dataToPost.data[4]" type="text">
<label for="">Jun</label><input ng-model="dataToPost.data[5]" type="text">
<label for="">Jul</label><input ng-model="dataToPost.data[6]" type="text">
<button ng-click="gotoGraph()">另一种方式返回图表页</button>